*,
*:active,
*::after {
  padding: 0;
  box-sizing: border-box;
}
.App {
  max-width: 50em;
  margin: 0 auto;
  padding: 32px;
}

button {
  text-align-last: center;
}

button:hover {
  color: #00aff0;
  background-color: #fff;
}

.content {
  margin: auto;
  background: white;
  padding: 10px;
}

input {
  width: 25rem;
  height: 4rem; 
  text-decoration: none;
  font-size: 1.5rem !important;
  border: 2px #00aff0 solid;
  box-sizing: border-box !important;
}
div.css-1480iag-MuiInputBase-root-MuiInput-root {
  font-size: 1.5rem;
  background-color: #fff;
  width: 16.7em;
  height: 4em;
  justify-content: start;
  border: 2px #00aff0 solid;
  border-radius: 6px;
  text-decoration: none;
}
div.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  border-radius: 6px;
}
Link {
  color: #00aff0 !important;
  text-decoration: none !important;
}

Link:hover {
  transition: all ease-in-out 0.5s;
  transform: scale(1.2);
}

.ReactInputVerificationCode__item {
  width: 50%;
  height: 50%;
  font-family: "Gill Sans", sans-serif !important;
  align-content: center !important;
  align-items: center !important;
  text-align: center !important;
  justify-content: center !important;
}
.sc-jIkXHa {
  display: inline-block;
  align-content: center !important;
}

@media screen and (max-width: 960px) {
  :root {
    box-sizing: border-box;
    width: 30rem;
    height: 70rem;
  }
}
